@keyframes animEntete{
    from{
        transform : translateX(1000px);
        
    }
    to{
        transform : translateX(0px);
       
    }
}

.animEntete {
    animation: animEntete 1s;
    
}


#Fdepart{
    font-size: 30px;
    width: 300px;
    background-color: red;
    position: absolute;
    margin: 0 40%;
    top: 0;
    left: 0;
    animation: fenetre 3s linear forwards;
    
  
  }



