@keyframes animSection{
    from{
        opacity: 1;
        
    }
    to{
        opacity:0;
       
    }
}
.imgLogo{
    height: 50%;
    width:50%
}
// .animationSection {
//     animation: animSection 1s;
//     position:absolute;
//     background-color:black;
//     z-index:999;
//     width:100vw;
//     height:100vh;
// }


#Fdepart{
    font-size: 30px;
    width: 300px;
    background-color: red;
    position: absolute;
    margin: 0 40%;
    top: 0;
    left: 0;
    animation: fenetre 3s linear forwards;
    
  
  }



