@keyframes animSection{
    from{
        opacity: 1;
        
    }
    to{
        opacity:0;
       
    }
}
.animationSection {
    animation: animSection 1s forwards;
}

// .imgLogo{
//     height: 50%;
//     width:50%
// }


// .animationSection {
//     animation: animSection 1s forwards;
    
//     position:absolute;
//     background-color:black;
//     z-index:999;
//     width:100vw;
//     height:100vh;
// }






